<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS_PATH" value="./logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%green(%d{yyyy-MM-dd HH:mm}) %highlight(%-5level) %cyan(%logger{36}) - %boldWhite(%msg%n)</Pattern>
        </encoder>
    </appender>

    <logger name="com.blog" level="debug"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>